.updateProfileContainer {
  width: 500px;
  background-color: var(--bg-overlay-1);
  border-radius: 10px;

  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
}

.updateProfilePic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.updateProfileWrap {
  border-top: 1px solid grey;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  justify-content: space-evenly;
}

.updateProfileInput:focus {
  outline: none !important;
  border-bottom: 2px solid var(--link-color);
}

.updateProfileInput {
  outline: 0;
  font-size: 16px;
  height: 45px;
  border: none;
  padding-left: 15px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
  background-color: var(--bg-input);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--font-color);
}

.inputWrapProfile {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  position: relative;
}
.updateProfileBtn,
.cancelProfileBtn {
  height: 45px;
  background-color: var(--link-color);
  width: 80%;
  border-radius: 5px;
  border: none;
  color: white;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  opacity: 0.9;
}
.cancelProfileBtn {
  background-color: white;
  color: rgb(39, 117, 235);
}
.updateProfileBtn:hover,
.cancelProfileBtn:hover {
  opacity: 1;
}
.passUpdateInfo {
  position: absolute;
  width: 80%;
  background-color: var(--bg-overlay);
  color: var(--color-alert);
  top: 56px;
  z-index: 25;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
  padding: 4px;
  left: 69px;
}

.updateBtnWrap {
  display: flex;
  width: 80%;
  gap: 10px;
}
.updateProfPic {
  position: relative;
  overflow: hidden;
}
.updatePicIcon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s linear;
  opacity: 0.3;
}
.photoAddIcon {
  color: rgba(0, 0, 0, 0.575);
}

.updatePicIcon:hover {
  background-color: rgba(0, 0, 0, 0.384);
  transition: all 0.3s linear;
  align-items: center;
  opacity: 1;
}

.custom-file-icon {
  display: none;
}

.profileUpdateError {
  color: var(--color-alert);
}
.profileSuccesMessage {
  color: var(--color-alert-1);
}
