.worldClockCont {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  height: 120px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.worldClockMain {
  background-color: var(--glass-bg-1);
  border: var(--glass-border-1);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.worldDateMain {
  font-size: 16px;
}
