.mainContainer {
  height: 100%;
  width: 100%;
}

.headerMain {
  height: 100vh;
  background-image: url('../../../public/images/back.jpg');
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mainGradient {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.863);
  position: absolute;
  z-index: -1;
}

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 60px;
  /* background-color: var(--bg-overlay-1); */
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 50%;
  transition: all 0.5s linear;
  position: absolute;
  background: transparent;
}
.navScrolled {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.596);
}

.navLogo {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtnCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navBtn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.navBtn:hover {
  text-decoration: underline;
}

.mainTitleText {
  width: 900px;
  font-size: 76px;
  color: white;
  text-align: center;
}
.mainGotryBtn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background: var(--link-color);
  color: white;
  cursor: pointer;
}

/* middle section */
.aboutMain {
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
/* .aboutImgCont {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.mainWeather {
  max-width: 620px;
  width: 100%;
}
.aboutTextCont {
  width: 620px;
  height: 100%;
  padding: 20px;
}
.aboutTitle {
  font-size: 46px;
  text-align: center;
}
.aboutMainText {
}
.aboutList {
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  opacity: 0.8;
}

/* widget section */
/* .widgetsImgCont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 20px;
  justify-content: center;
}
.widgetsTitle {
  font-size: 46px;
  text-align: center;
  margin-bottom: 40px;
}
.widgetImgMain {
  width: inherit;
  height: inherit;
  border-radius: 7px;
  object-fit: scale-down;
  object-fit: cover;
}

.widgetsMainImgWrap {
  width: 240px;
  height: 300px;
  position: relative;
  border-radius: 7px;
}
.widgetsMainImgWrap:hover {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
}
.widgetImgTitle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;

  border-radius: 5px;
  top: 0;
  gap: 15px;
  left: 0;
  overflow: hidden;
}
.widgetImgTitle:hover .widgetNameTitle {
  opacity: 1;
}
.widgetImgTitle:hover {
  background: rgba(0, 0, 0, 0.301);
}
.widgetNameTitle {
  width: 100%;
  text-align: center;
  height: 25%;
  background: #0385f0;
  opacity: 0;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.widgetNameDesc {
  width: 90%;
  font-size: 14px;
  text-align: center;
}
.widgetNameTitle h3 {
  margin: 0;
  padding: 0;
} */
.navHamb {
  display: none;
}
@media (max-width: 1200px) {
  .mainWeather {
    width: 530px;
  }
}

@media (max-width: 920px) {
  .mainWeather {
    width: 400px;
  }
  .mainTitleText {
    width: 90%;
    font-size: 56px;
  }
  .headerMain {
    height: 600px;
  }
}

@media (max-width: 800px) {
  .aboutMain {
    flex-direction: column-reverse;
  }
  .aboutTextCont {
    width: 90%;
  }
  .mainNav {
    justify-content: space-around;
    gap: 0;
  }
  .navHamb {
    display: block;
  }
  .navBtnCont {
  }
}
@media (max-width: 420px) {
  .mainWeather {
    width: 100%;
  }
  .mainTitleText {
    width: 90%;
    font-size: 36px;
  }
  .headerMain {
    height: 420px;
  }
  .aboutTitle {
    font-size: 36px;
  }
}
