.profileContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--bg-overlay);
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  z-index: 999;
  transition: all 0.3s linear;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
}

.profilePic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.logoutBtn {
  border: none;

  background: transparent;
  color: var(--font-color-3);
  opacity: 0.8;
  cursor: pointer;
  font-size: 16px;
}

.logoutBtn:hover {
  opacity: 1;
}
.listsContainer {
  border-top: 1px solid var(--bg-overlay-1);
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* gap: 5px; */
  height: 40vh;
  overflow-y: scroll;
  /* scrollbar-width: none; */
}
/* .listsContainer::-webkit-scrollbar {
  display: none;
} */
.profileWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.editProfileBtn {
  color: var(--font-color-3);
  opacity: 0.8;
}
.editProfileBtn:hover {
  opacity: 1;
}
.profileBtnWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileOpenCloseBtn {
  color: var(--font-color-3);
  height: 30px;
}

.profileBtnHome {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.contactLinkContainer {
  display: flex;
  gap: 10px;
}
.contactLink {
  color: var(--font-color-3);
  font-size: 12px;
}

.contactLink:hover {
  color: var(--link-color);
}
