.searchForm {
  height: 40px;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  width: 410px;
  background: transparent;
}
#locationInput {
  border: none;
  width: 100%;
  background-color: var(--bg-overlay);
  padding-left: 10px;
  font-size: 16px;
  height: 30px;
}
input::placeholder {
  color: var(--font-color-3);
}

#unitWeather {
  border: none;
}
.weatherSubmit {
  border: none;
  width: 100px;
  background-color: rgb(123, 136, 192);
}
.inputLocation {
  display: flex;
  width: inherit;
}

.locationListResults {
  position: absolute;
  top: 40px;
  left: 0px;
  width: inherit;
  z-index: 111;
}
.locationItem {
  height: 40px;
  border-bottom: 1px solid grey;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.locationItem:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.weather3day {
  display: flex;
  justify-content: space-between;
}

.searchGeo {
  position: absolute;
  z-index: 99;
  width: 410px;
  display: flex;
  justify-content: center;

  background: transparent;
  top: -30px;
}

.cancelSearch {
  position: absolute;
  z-index: 99;
  right: 10px;
  color: var(--bg-color-2);
  top: 5px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
