.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 100vh;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.5;
  z-index: 999;
}
.cursor:hover {
  cursor: grab;
  opacity: 1;
}
